{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>S'authentifier pour accéder à l'application</h1>
{% endblock %}

{% block body %}
    <div class="row mb">
        <div class="col-sm-12">
            {# Show authentication error if there is one! #}
            {% if error %}
                <div class="alert alert-danger mb" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {# Replace simple HTML form with Symfony form view #}
            {{ form_start(loginUser, {'action' : path('login_check'), 'attr': {'class': 'form-inline'}}) }}
                {{ form_label(loginUser._username) }}
                {{ form_widget(loginUser._username, {'attr': {'value': last_username}}) }}
                {{ form_rest(loginUser) }}
                <button type="submit" title="Se connecter" id="login-user" class="btn btn-success ml">
                    Se connecter
                </button>
            {{ form_end(loginUser) }}
        </div>
    </div>
{% endblock %}
