<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>To Do List app</title>

        {% block stylesheets %}
        <!-- Latest compiled and minified Bootstrap CSS with CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link href="{{ asset('css/custom-styles.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts_top %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" title="Page d'accueil">
                        <span class="db pull-left mr">To Do List app</span>
                        <img class="pull-left m-t" src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms">
                    </a>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row mb">
                <div class="col-md-12">
                    <a href="{{ path('user_create') }}" title="Ajouter un nouvel utilisateur" class="btn btn-primary mr">
                        Créer un utilisateur
                    </a>
                    {% if app.user %}
                    <a href="{{ path('user_list') }}" title="Accéder à l'ensemble des utilisateurs"
                       class="btn btn-default"
                    >
                        Consulter la liste des utilisateurs
                    </a>
                    <a href="{{ path('logout') }}" title="Ne plus être authentifié" class="pull-right btn btn-danger">
                        Se déconnecter
                    </a>
                    {% endif %}

                    {% if not app.user and 'login' != app.request.attributes.get('_route') %}
                    <a href="{{ path('login') }}" title="S'authentifier" class="pull-right btn btn-success">
                        Se connecter
                    </a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success" role="alert">
                            <strong>Superbe !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Oops !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {# Add custom info flash message! #}
                    {% for flash_message in app.session.flashBag.get('info') %}
                        <div class="alert alert-warning" role="alert">
                            <strong>Surprenant !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% block header_title %}{% endblock %}
                    <div class="mb">
                        {% block header_img %}
                            <img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container -->

        <div class="container m-t">
            <hr>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="pull-right">Copyright &copy; OpenClassrooms</p>
                    </div>
                </div>
            </footer>
        </div>

        {% block javascripts_bottom %}
        {# Get JQuery with CDN #}
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified Bootstrap JavaScript with CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
